<div>
    <h3>Wstęp</h3>

    <p>Poniższa wizualizacja ma na celu zaprezentowanie kolejnych iteracji w uczeniu maszynowym na zestawie pojedynczych cyfr pisanych odręcznie - <a nhref="http://yann.lecun.com/exdb/mnist/">baza MNIST</a>.</p>

    <p>Kolejne iteracje (jest ich 1000 ale poniżej prezentowane są w skali logarytmicznej) to wynik przetworzenia 100 losowo pobranych cyfr i aktualizacji wag odpowiadających każdej z cyfr.</p>

    <h3>Wizualizacja</h3>

    <div ng-controller="tfMnistHello as mnist">
        
        <div><span>Cyfra</span> <span ng-bind="mnist.num"></span></div>
        <div>
            <input type="range" min="0" max="9" style="width:100%"
                 ng-change="mnist.changeNum()"
                 ng-model="mnist.num"
                >
        </div>
        <div class="not-so-big-parent">
            <canvas class="not-so-big" id="canVisu" width="560" height="560" style="border:1px solid #d3d3d3;"></canvas>
        </div>
        <div><span>Numer iteracji</span> <span ng-bind="mnist.iter"></span> (skala logarytmiczna)</div>
        <div>
            <input type="range" min="1" max="{{mnist.maxVirtualIter}}" style="width:100%"
                ng-change="mnist.changeVirtualIter()"
                ng-model="mnist.virtualIter"
                >
        </div> 
        <div><span>Skuteczność (wszystkich cyfr)</span> <span ng-bind="mnist.accuracy"></span></div>
        <div>
            <button ng-click="mnist.loopDigit()">Odtwarzanie w pętli - <span ng-bind="mnist.loopState"></span></button>
        </div>

    </div>

    <h3>Skuteczność dopasowania</h3>

    <p>Poniższy wykres w całości wizualizuje rozkład skuteczności względem iteracji. W tej sesji utrzymała się na poziomie <strong>0.9012</strong> (liczba oznacza prawdopodobieństwo rozpoznania właściwej cyfry).</p>

    <image-info info="Skuteczność poprawnego dopasowania liczb (skala log.)" src="/img/topic/tensor-flow-mnist-wizualizacja/accuracy_log.png"></image-info>

    <script type="text/javascript">
        window.DI.registerController('tfMnistHello', ['$http', '$interval', function($http, $interval){
            
            var ctx = document.getElementById("canVisu").getContext("2d");
            var trueIterations = 1000;
            var scale = 20;
            var filesIndex = [1,1,1,1,1,1,2,2,2,2,3,3,3,4,4,4,5,6,6,7,8,9,9,11,12,13,14,16,18,20,22,24,27,29,33,36,40,44,49,54,60,66,73,81,90,99,109,121,134,148,164,181,200,221,244,270,298,330,365,403,445,492,544,601,665,735,812,897,992];

            var self = this;

            self.loopState = 'pauza';
            self.loopPromise = undefined;
            self.num = 0;
            self.iter = 2;
            self.accuracy = 0;
            self.virtualIter = 0;
            self.maxVirtualIter = filesIndex.length;// == (Math.floor(Math.log(trueIterations)*10.0)); // == 69

            self.updateRealIter = function __updateRealIter() {
                //self.iter = Math.max(1, Math.min(trueIterations, Math.round(Math.pow(Math.E,parseInt(self.virtualIter)/10.0))));
                var pos = Math.max(1, Math.min(self.maxVirtualIter, self.virtualIter));
                self.iter = filesIndex[pos-1];
                return self.iter;
            }

            self.changeNum = function __changeNum() {
                self.virtualIter = 0;
                self.changeVirtualIter(true);
            }

            self.changeVirtualIter = function __changeVirtualIter(bForce) {
                var oldIter = self.iter;
                self.iter = self.updateRealIter();
                if (bForce || oldIter !== self.iter)
                    printIdx(self.num, self.iter);
            }

            self.loopDigit = function __loopDigit() {
                if ('pauza' === self.loopState) {
                    self.loopState = 'odtwarzanie';
                    
                    if (self.loopPromise) {
                        $interval.cancel(self.loopPromise);
                        self.loopPromise = undefined;
                    }

                    self.loopPromise = $interval(function _loop() {
                        self.virtualIter += 1;
                        if (self.virtualIter > self.maxVirtualIter)
                            self.virtualIter = 1;

                        self.changeVirtualIter();
                    },125);
                }
                else {
                    self.loopState = 'pauza';
                    if (self.loopPromise) {
                        $interval.cancel(self.loopPromise);
                        self.loopPromise = undefined;
                    }
                }
            }

            function setClampToStyle(ctxCanv, vMax, vMin, val) {
                if (vMax === vMin) {
                    ctxCanv.fillStyle = 'rgb(0,0,0)';
                    return;
                }

                var it = Math.round(((val-vMin)*510.0/(vMax-vMin))-255);
                if (0 > it)
                    ctxCanv.fillStyle = 'rgb('+(-it)+',0,0)';
                else
                    ctxCanv.fillStyle = 'rgb(0,'+(it)+',0)';
            }

            function clearImage() {
                ctx.fillStyle = 'rgb(255,255,255)';
                ctx.fillRect(0, 0, 28*scale, 28*scale);
            }

            function printIdx(num, idx) {
                var url = '/data/tensor-flow-mnist-wizualizacja/dr' + num + '_' + idx + '.json';
                $http.get(url).then(
                    function _okGet(response) {

                        if (200 === response.status && response.data && response.data.arr) {

                            var dMax = response.data.max || 0;
                            var dMin = response.data.min || 0;
                            self.accuracy = Math.round(response.data.acc * 1000.0) / 1000.0;
                            response.data.arr.forEach(function _fe(v,i){
                                setClampToStyle(ctx, dMax, dMin,v);
                                var x = i % 28;
                                var y = Math.floor(i / 28);
                                ctx.fillRect(x*scale ,y*scale ,scale ,scale );
                            });
                        }
                    },
                    function _errGet(response) {
                        clearImage();
                        console.error('image for NUMxITER not found', num, idx, response);
                    });
                /*
                $.getJSON('tf_data/dr'+num+'_'+idx+'.json', function _ok(data) {
                    
                    ctx.fillStyle = 'rgb(255,255,255)';
                    ctx.fillRect(0, 0, 28*scale, 28*scale);

                    data.arr.forEach(function _fe(v,i){
                        setClampToStyle(ctx,data.max,data.min,v);
                        var x = i % 28;
                        var y = Math.floor(i/28);
                        ctx.fillRect(x*scale,y*scale,scale,scale);
                    });
                });
                */
            }

            self.changeNum(0);
        }]);
    </script>

    <h3>Kod źródłowy generujący pliki.</h3>

    %%%#code_python^
#
# Na podstawie https://www.tensorflow.org/versions/r1.2/get_started/mnist/beginners
#
# UWAGA: katalog ./app/tf_data/ musi istnieć już na dysku
#
import numpy as np
import tensorflow as tf
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("MNIST_data/", one_hot=True)

# 784 = 28*28
# mnist.train.images = [55000, 784]
# mnist.train.labels = [55000, 10]

def writePass(sess, num, iter, accur):
    currW = sess.run([W])
    row = [currW[0][x][num] for x in range(784)]
    f = open('./app/tf_data/dr'+str(num)+'_'+str(iter)+'.json','w')
    f.write('{"max":'+str(np.max(row))+',"min":'+str(np.min(row))+',"acc":'+str(accur)+',"arr":[' +','.join([str(x) for x in row]) + ']}')
    f.close()

x = tf.placeholder(tf.float32, [None, 784], name='x')
W = tf.Variable(tf.zeros([784, 10]), name='W')
b = tf.Variable(tf.zeros([10]), name='b')
y = tf.nn.softmax(tf.matmul(x, W) + b, name='y')

y_ = tf.placeholder(tf.float32, [None, 10], name='y_')
cross_entropy = tf.reduce_mean(-tf.reduce_sum(y_ * tf.log(y), reduction_indices=[1]))
train_step = tf.train.GradientDescentOptimizer(0.05).minimize(cross_entropy)

correct_prediction = tf.equal(tf.argmax(y,1), tf.argmax(y_,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())

    for nn in range(10):
        writePass(sess,nn,0,0)
    
    for _ in range(1000):
        batch_xs, batch_ys = mnist.train.next_batch(100)
        sess.run(train_step, feed_dict={x: batch_xs, y_: batch_ys})
        
        ac = sess.run(accuracy, feed_dict={x: mnist.test.images, y_: mnist.test.labels})
        for nn in range(10):
            writePass(sess,nn,_+1,ac)

    print()
    print(sess.run(accuracy, feed_dict={x: mnist.test.images, y_: mnist.test.labels}))
    #%%%

    %%%#code_bash^
\> python .\mnist_draw.py
Extracting MNIST_data/train-images-idx3-ubyte.gz
Extracting MNIST_data/train-labels-idx1-ubyte.gz
Extracting MNIST_data/t10k-images-idx3-ubyte.gz
Extracting MNIST_data/t10k-labels-idx1-ubyte.gz

0.9012
    #%%%
</div>